{% extends '../layout/base.html' %}

{% block content %}
  <h3>Alert list</h3>
  <div class="float-right">
    <a href="{% url 'alert_new' %}">New Alert</a>
  </div>

  <div>
    <span>Last known price: {{ last_price }}</span>
  </div>

  {% if alert_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Price</th>
          <th scope="col">Alert Sent</th>
        </tr>
      </thead>
      <tbody>
      {% for alert in alert_list %}
        <tr>
          <td>
            <span>{{ alert.price }}</span>
          </td>
          <td>
            <span class="badge badge-primary">{{ alert.sent }}</span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't created any alerts yet.</p>
  {% endif %}
{% endblock %}
