{% extends '../layout/base.html' %}

{% block content %}
  <h3>Alert list</h3>

  <div>
    <span>Last known price: {{ last_price }}</span>
  </div>

  {% if alert_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
      {% for alert in alert_list %}
        <tr>
          <td>
            <a href="{{ alert.get_absolute_url }}{{ alert.id }}">{{ alert.price }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't created any alerts yet.</p>
  {% endif %}
{% endblock %}
